<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Curso Páginas Dinamicas</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<header class="header">
		<nav class="menu">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Sobre</a></li>
				<li><a href="#">Serviços</a></li>
				<li><a href="#">Contato</a></li>
			</ul>
		</nav>
	</header>
	<section class="main">
		<div class="content">
			<div class="col-right"></div>
			<div class="col-left">
				<h1>Titulo Do Texto</h1>
			</div>
		</div>
	</section>
	<footer class="footer">
		Nosso Footer
	</footer>
</body>
</html>